/*===========================================*/
/*=========== BASIC DESIGN ==================*/
/*===========================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(255, 255, 255);
  color: rgb(78, 77, 77);
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*===========================================*/
/*=========== REUSABLE COMPONENT ============*/
/*===========================================*/

.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 2%;
}
/* =======HEDING =========*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h3 {
  font-size: 100%;
  margin-bottom: 15px;
}
h2::after {
  display: block;
  height: 2px;
  background-color: #fd9644;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
/*=============== PARAGRAPH =================*/
.Long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
/*================== ICON ===================*/
.icon-big {
  font-size: 350%;
  color: #ea6902;
  display: block;
  margin-bottom: 10px;
  padding-left: 30%;
}

/*===========================================*/
/*=============== BUTTENS ===================*/
/*===========================================*/

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #fd9644;
  border: 1px solid #fd9644;
  color: white;
  margin-right: 20px;
}

.btn-gost:link,
.btn-gost:visited {
  border: 1px solid #fd9644;
  color: #fd9644;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #ea6902;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #fd9644;
}

.btn-gost:hover,
.btn-gost:active {
  border: 1px solid #fd9644;
  color: white;
}

/*===========================================*/
/*================= HEADER ==================*/
/*===========================================*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.493)),
    url(img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px 0;
  padding: 8px 0;
}
/* ******** MAin nav *********/
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 6px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ea6902;
}
/* ******** sticky nav *********/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffffee;
  box-shadow: 0 2px 2px rgb(209, 209, 209);
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 15px;
}
.main-nav {
  margin-top: 18px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 8px 0;
  color: #555;
}

.sticky .logo {
  display: none;
}
.sticky .logo-black {
  display: block;
}
/*===========================================*/
/*================= FEATURE =================*/
/*===========================================*/

.section-features .Long-copy {
  margin-bottom: 30px;
}

/*===========================================*/
/*================= MEALS ===================*/
/*===========================================*/
.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meals-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.meals-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.meals-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/*===========================================*/
/*============= HOW IT WORK =================*/
/*===========================================*/
.section-steps {
  background-color: #dee0e0;
}

.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.step-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}
.work-step {
  margin-bottom: 50px;
}

.work-step div {
  color: #ea6902;
  border: 2px solid #ff6f01;

  border-radius: 55%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:last-child img {
  margin-bottom: 41px;
}
.btn-app:last-child img {
  height: 45px;
  width: auto;
  margin-left: 10px;
  padding-bottom: -50px;
}
.btn-app:link,
.btn-app:visited {
  border: none;
}

/*===========================================*/
/*================= Cities ==================*/
/*===========================================*/
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.section-cities h3 {
  color: #ea6902;
}
.city-feature {
  margin-bottom: 5px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #ea6902;
  font-size: 120%;
  margin-right: 10px;
  /* secret way of align text and icon */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

a:link,
a:visited {
  color: #ea6902;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #ea6902;
  transition: border bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*===========================================*/
/*================= Costmer =================*/
/*===========================================*/

.section-testmo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}
blockquote::before {
  content: "\201C";
  font-size: 400%;
  position: absolute;
  top: -5px;
  left: -5px;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
cite img {
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

/*===========================================*/
/*================== plan ===================*/
/*===========================================*/
.section-plan {
  background-color: #dee0e0;
}
.plan-box {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin-left: 5px;
  box-shadow: 0 2px 2px rgb(151, 151, 151);
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
  background-color: aliceblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
  border: none;
}
.plan-price {
  font-size: 300%;
  font-weight: 100%;
  margin-bottom: 10px;
  color: #ea6902;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300%;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-box ul {
  list-style: none;
}
.plan-box ul li {
  padding: 5px 0;
}
/*===========================================*/
/*=============== contact ===================*/
/*===========================================*/
.contact-form {
  width: 60%;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100%;
}
input[type="checkbox"] {
  margin: 10px 5px 10px;
}
*:focus {
  outline: none;
}
/*===========================================*/
/*================ Footer ===================*/
/*===========================================*/
footer {
  background-color: #333;
  padding: 50px;
  font-size: 90%;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-link {
  list-style: none;
  float: right;
}
.footer-nav li,
.social-link li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-link li :last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: rgb(224, 220, 220);
}
.social-link li a:link,
.social-link li a:visited {
  font-size: 180%;
}
.ion-social-facebook:hover,
.ion-social-facebook:hover,
.ion-social-facebook:hover,
.ion-social-facebook:hover {
  transition: color 0.2s;
}
.ion-social-facebook:hover {
  color: #3b5998;
}
.ion-social-twitter:hover {
  color: #55acee;
}
.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #e95950;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 30px;
}
